.page-buttons {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    padding: 8px 16px;
    border: none;
    background: #ff5ca8;
    color: #fff;
    cursor: pointer;
    font-size: 1.25rem;
    height: 60px;
    border-radius: 0;

    &:focus:not(:focus-visible) {
      outline: none;
    }

    &:disabled {
      background: #1b1b24;
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      div {
        transform: scale(1.05);
      }
    }

    &.right {
      border-radius: 0 6px 6px 0;
    }

    &.left {
      border-radius: 6px 0 0 6px;
    }
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    color: #eaeaea;
    background-color: #1b1b24;
    height: 60px;
    padding: 8px 12px;
    width: 100px;
  }

  @media (max-width: 600px) {
    width: 100%;
  }
}
