.settings-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 12;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings-modal {
  background: #0f0f14;
  color: white;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 80vh;

  .settings-top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;

    .settings-close {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      color: #fff;
      cursor: pointer;
      transition:
        background 0.2s ease,
        transform 0.2s ease;
      width: fit-content;
      padding: 14px;
      background: #35354b;

      &:hover {
        transform: scale(1.05);
        background: #ff5ca8;
      }
    }

    .settings-tittle {
      text-align: center;
      font-size: 2rem;
      font-weight: 700;
    }
  }

  .settings-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
    scrollbar-width: none;
    border-radius: 6px;

    .settings-section {
      display: flex;
      flex-direction: column;

      .settings-section-tittle {
        background-color: #1b1b24;
        color: #ff5ca8;
        padding: 10px;
        border-radius: 12px 12px 0 0;
        font-size: 1.5rem;
        font-weight: 700;
        width: fit-content;
        top: 0;
        left: 0;
      }

      .settings-section-content {
        background-color: #1b1b24;
        padding: 12px;
        border-radius: 0 6px 6px 6px;
        display: flex;
        gap: 20px;
        flex-direction: column;

        .hide-favorites,
        .hide-favorites-count {
          flex-direction: column;
        }

        .settings-row {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 10px;
          background-color: #0f0f14;
          padding: 10px;
          border-radius: 12px;

          &.disabled {
            cursor: not-allowed;

            .checkmark {
              pointer-events: none;
            }
          }

          .settings-warning {
            font-size: 12px;
            color: #ffb347;
            margin-left: 10px;
            text-align: center;
          }

          .hide-favorites-content,
          .hide-favorites-count-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
          }

          &.importexport {
            justify-content: center;
          }

          .settings-names {
            font-weight: 500;
            font-size: 1.1rem;
          }

          .input-slider {
            position: relative;
            display: flex;

            input[type='range'] {
              appearance: none;
              overflow: hidden;
              border-radius: 2px;
              background: linear-gradient(
                to right,
                #ff5ca8 0%,
                #ff298d var(--value),
                #1b1b24 var(--value),
                #1b1b24 100%
              );
              cursor: pointer;
              height: 100%;
            }

            input[type='range']::-webkit-slider-thumb {
              width: 0px;
              -webkit-appearance: none;
              height: 20px;
              background: #ff298d;
            }

            .input-slider-number {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              user-select: none;
              pointer-events: none;
            }
          }

          input[type='checkbox'] {
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
            cursor: pointer;
          }

          .checkmark {
            position: relative;
            height: 25px;
            width: 25px;
            background-color: #1b1b24;
            border-radius: 4px;
            transition: background-color 0.2s;
            cursor: pointer;
          }

          input:checked + .checkmark {
            background-color: #ff5ca8;
          }

          input:checked + .checkmark::after {
            display: block;
          }

          .layout-toggle {
            display: flex;
            justify-content: center;
            gap: 5px;
            width: 100%;

            .button {
              background-color: #1b1b24;
              border: none;
              padding: 10px;
            }

            .right-settings-btn {
              border-radius: 6px 0 0 6px;
            }

            .middle-settings-btn {
              border-radius: 0;
            }

            .left-settings-btn {
              border-radius: 0 6px 6px 0;
            }

            .active {
              background-color: #ff5ca8;
            }
          }

          .settings-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            color: #fff;
            cursor: pointer;
            transition:
              background 0.2s ease,
              transform 0.2s ease;
            width: 100%;
            padding: 14px;
            background: #1b1b24;
            border-radius: 6px;
            gap: 10px;

            &:hover {
              transform: scale(1.05);
              background: #ff5ca8;
            }
          }

          .sex-search-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 5px;

            .sex-search-btn {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              padding: 5px 10px;
              background: #1b1b24;
              border: 2px solid transparent;
              border-radius: 12px;
              color: #fff;
              cursor: pointer;
              transition: all 0.3s ease;

              &.active {
                background-color: #ff5ca8;
              }

              &.top-left {
                border-radius: 6px 0 0 0;
              }

              &.top-right {
                border-radius: 0 6px 0 0;
              }

              &.bottom-left {
                border-radius: 0 0 0 6px;
              }

              &.bottom-right {
                border-radius: 0 0 6px 0;
              }
            }
          }
        }
      }
    }
  }
}
